@charset "UTF-8";

/* hover date */
.hoverDateFull {
	display: none;
}

.hoverDate {
	display: block;
}

.hoverImage {
	width: 20%;
}

.hoverImage:hover .hoverDateFull {
	color: #f00;
	display: block;
}

.hoverImage:hover .hoverDate {
	display: none;
}

.abc {
	color: #4CAF50;
	font-size: 34px;
}

.xyz {
	color: #4CAF50;
	font-size: 50px;
}

/* paging  */
.paginationjs {
	float: right;
}

.alert-minimalist {
	background-color: rgb(241, 242, 240);
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
}

.alert-minimalist>[data-notify="icon"] {
	height: 50px;
	margin-right: 12px;
}

.alert-minimalist>[data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.alert-minimalist>[data-notify="message"] {
	font-size: 80%;
}

#loadingDiv {
	display: none;
	width: 90px;
	height: 100px;
	position: absolute;
	top: 30%;
	left: 50%;
	padding: 2px;
}